*{box-sizing: border-box;}
.card {
    min-width: calc(50% - 15px);
    min-height: 200px;
    background:#D9D9D9;
    box-shadow: none;
    margin-right:5px;
    margin-left:5px;
}

.custom-arrow-button {
    font-size: 20px;
    padding: 0;
    height: 100px !important;
    width: 40px !important;
    min-width: 40px !important;
    border-radius: 5px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}
.box-card {
    width: 8rem;
    height: 6rem;
    cursor: pointer;
    background: var(--mdc-circular-progress-active-indicator-color);
    color: var(--primary-color);
    overflow-y: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 0.3rem;
    position: relative; /* Esto es clave para posicionar el drag-handle */
  }
.icon-overwrite-height {
    font-size: 48px; /* Tamaño del icono ajustado */
    line-height: 1; /* Corrige la alineación vertical */
    margin-top: -10px !important;
    /* z-index: 9999; */
}

.custom-arrow-button mat-icon {
    color: var(--background-color-2) !important; /* Color del icono */
}

.add-button{
    background: var(--success-color);
    color:var(--primary-color);
    position: absolute; 
    top: 0;
    right: 0;
    margin: 24px 3px;
}
.container{
    background: var(--background-color-2); 
    width:100%;
    height: 100%; 
    gap:50px; 
    display:flex; 
    align-items: center; 
    justify-content:center; 
    margin-top: 15px;
}
app-slider-users{
    position: absolute; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    margin-top:-22px;
}
mat-card-header{
    padding: 0 !important; 
    margin-bottom: .3rem; 
    background: var( --mdc-circular-progress-active-indicator-color); 
    border-radius: .3rem; 
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.selected-card {
    background-color: #e3f2fd; /* color suave para destacar */
    /* border: 2px solid #90caf9; */
  }
mat-card-content{
    flex:1;
    background: white;
    border-radius: 7px 7px 0px 0px;
}
mat-card-actions{
    margin-top: auto; 
    background: white; 
    border-radius: 0 0 7px 7px;
}
.objective-button{
    background:#CBE8F0 !important;
}
.slider-container{
    width: 70%;/*520px ;*/
    max-width: 720px;
    overflow: hidden;
    div{
        display: flex; transition: transform 0.5s ease-in-out;
    }
}
.align-sprints-container{
    display: flex; 
    width:100%;
    align-items: center; justify-content: center; gap: 10px;
}

@media (max-width:767px) {
    
    .container{
        border-radius: 0 0 7px 7px !important;
    }
    
}