<section class="container">
    <app-slider-users ></app-slider-users>
    @if (userRol) {
        <button mat-raised-button 
            class="add-button" (click)="openAddSprint()">
            Agregar
        </button>
    }
    <div class="align-sprints-container" >
        @if(sprints.length>=2){
            <button mat-raised-button class="custom-arrow-button"  (click)="prevSlide()">
                <mat-icon aria-hidden="false" class="icon-overwrite-height">arrow_left</mat-icon>
            </button>
        }
        <div class=slider-container >

            <div [style.transform]="'translateX(' + ((-currentIndex * cardWidth +5)) + 'px)'" #slider>
                @for (sprint of sprints; track sprint) {
                    <mat-card class="card">
                        <mat-card-header>
                            <mat-card-title>Sprint #{{sprint.Id}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{sprint.Description}}</p>
                        </mat-card-content>
                        <mat-card-actions >
                            <button mat-raised-button (click)="selectSprint(sprint)" class="objective-button">Objetivo</button>
                        </mat-card-actions>
                    </mat-card>
                }
            </div>
        </div>
        @if(sprints.length>=2){
            <button mat-raised-button class="custom-arrow-button" (click)="nextSlide()">
                <mat-icon aria-hidden="false" class="icon-overwrite-height">arrow_right</mat-icon>
            </button>
        }
    </div>
</section>