
.mat-mdc-card-content{
    margin: 0 auto;
}
.mat-mdc-progress-spinner{
    border-radius: 50% !important;
    width: 150px !important;
    height: 150px !important;
    --mdc-circular-progress-size: 150px !important;
    --mdc-circular-progress-active-indicator-width: 150px !important;
    border: 1px solid #007BFF;
}
.mat-mdc-button-base{
    height:25px !important;
    width: 120px !important;
}
.card{
    flex:1; margin:5px; 
    background: none; 
    border:none; 
}
.details-card{
    flex:1; 
    margin:5px;
}
.overwrite-height{
    height:20px !important;
}
section{
    display: flex;
    height:100%;
    background:lightgray;
}
.details-button{
    background: var( --mdc-circular-progress-active-indicator-color);
    color:var(--primary-color);
}

.spinner-container {
    position: relative;
    display: inline-block;
  }
  
  .spinner-label {
    font-family: 'Digital 7 Mono', monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 500;
    /* Ajusta color/tamaño según tu diseño */
  }

  