
.container {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top:3rem; ;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.register-card {
  padding:4rem!important;
  background: var(--background-color);
  width: 100%;
  max-width: 450px;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

mat-form-field {
  width: 100%;
  margin-bottom: .5rem;
  border-radius:100% !important;
}

.mat-mdc-form-field{
  background: transparent !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper, 
::ng-deep .mat-mdc-form-field-bottom-align::before {
    background: var(--background-color) !important;
    
}

::ng-deep .mat-mdc-text-field-wrapper {
  padding-left: 0;
  border-radius: 1.5rem !important;
  padding: 1rem;
  --mat-mdc-form-field-label-offset-x: -16px;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-mdc-form-field-flex {
  border-bottom: none !important;
}

:host ::ng-deep .mat-form-field-appearance-fill:hover ::ng-deep .mat-mdc-form-field-flex:hover {
  border-bottom: none !important;
}

:host ::ng-deep .mat-form-field-appearance-fill .mdc-text-field--focused .mdc-floating-label {
  color: gray !important;
  /* border-bottom: red!important; */
}

.button-group {
  display: flex;
  justify-content: space-between !important;
  align-items: flex-end !important;
  margin-top: 15px;
}

mat-form-field{
  height:5rem !important;
}

.button-group button {
  width: 45%;
}

button{
  border-radius: 1.5rem;
  width:7rem !important;
}

