.principal-container{
  background: var(--background-color-2); 
  padding:0;
}
.scrum-board {
  display: flex;
  justify-content: center;
  border-radius: .5rem!important;
  overflow-x: auto; /* Permite el scroll horizontal */
  overflow-y: none; 
  background: var(--primary-color) !important;
  /* border:solid red 1px;  */
  height: 200px;
  max-width: 100%;
  min-width: 70%!important;
  /* border:solid 1px red; */
  box-sizing: border-box; 
}
.add-scrum{
  background: var(--success-color) !important;
  color: var(--primary-color);
}
.mat-icon{
  margin-top: 5px !important ;
}
.button-task{
  background: var(--primary-color);
}
.full-width-white {
  background-color: white;
  width: 70%;
  /* padding: 1rem; opcional, para que no se vea tan pegado */
  box-sizing: border-box; /* asegura que el padding no rompa el ancho */
  border-radius: 8px; /* opcional, para esquinas redondeadas */
}
.full-width-white button {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinea a la izquierda */
  width: 100%;
}
.scrum-column {
  width: 150px;
  min-height: 200px;
  padding: 10px;
  text-align: center;
  border-radius: 0px !important;
  background: var(--primary-color);
  overflow-x: auto;
  scrollbar-width: none;
}
.header {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.circle-personal{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}
mat-card{
  background:transparent; 
  border: none; 
}
mat-card-content{
  display:flex; 
  justify-content: center; 
  flex-direction: column;  
  gap:20px; align-items:center;
}
.comments{
  display:flex; 
  width:70%;  
  background:var(--primary-color); 
  height:100px; 
  border-radius: .5rem;
  justify-content:space-between; 
  border:none;
}
.scrum-semanal-information-container{
  background:var(--primary-color);
  border-radius: .5rem;
  width:100%; 
}
