<div class="principal-container">
  <h2 mat-dialog-title>
      <button mat-button mat-dialog-close class="button-close">X</button>
      Información general
  </h2>
  <mat-dialog-content class="mat-typography">
      <mat-card appearance="outlined">
          <mat-card-content>
            @if (!userRol)
            {
              <p>Scrum semanal:</p>
              <mat-card-actions align="end">
                <button mat-raised-button class="add-scrum" (click)="addScrumWeeklyToTask()">Agregar</button>
              </mat-card-actions>
              <textarea class="comments" [(ngModel)]="content"></textarea>
              <div class="full-width-white">
                <button mat-button [matMenuTriggerFor]="menu" style="width:100% !important;">
                  {{ selectedTask?.Name || 'Seleccionar tarea' }}
                  <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu" style="width:100% !important;">
                  <button mat-menu-item *ngFor="let task of tasksDeveloper" (click)="selectTask(task)">
                  <mat-icon>person</mat-icon>
                  <span>{{ task.Name }}</span>
                  </button>
                </mat-menu>
              </div>
            }
              <p>Scrums semanales de la tarea:</p>
              <div class="scrum-semanal-information-container">
                  <div class="scrum-board">
                    @for (column of columns; track $index) {
                      <mat-card class="scrum-column">
                        <div class="header">
                          <div class="circle-personal" [style.background]="column.color">{{ column.initials }}</div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="content">
                          {{ column.content }}
                        </div>
                      </mat-card>
                    }
                  </div>
              </div>
          </mat-card-content>
      </mat-card>
  </mat-dialog-content>
</div>
