<h2 mat-dialog-title>
    <button mat-button mat-dialog-close class="button-close">X</button>
    Configuracion general</h2>
<mat-dialog-content class="mat-typography">
    <mat-card appearance="outlined" class="without-border">
        <mat-card-content class="card-content">
            <div class="display-content">
                <button mat-raised-button class="revision-background" (click)="fileInput.click()" >Revision</button>
                <input #fileInput type="file" webkitdirectory style="display: none;" (change)="onFolderSelected($event)" />
                <div
                    class="circle"
                    [ngClass]="data?.Secrets?.length ? 'pending' : 'confirm'" >
                </div>
            </div>
            <div class="developer-information">
                <p>Desarrollador: {{perfilData?.UserName}}</p>
                <p>ID del equipo: {{perfilData?.TeamId}}</p>
                <!-- <p>Activo desde: {{perfilData?.}}</p> -->
            </div>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="center">
  
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="confirm">Confirmar</button>
</mat-dialog-actions>