.project-card{
  text-align: center;
  background: #D9D9D9;
  padding: 30px 5%;
  margin: .5rem;
  cursor: pointer;
}
.projects-slider {
  display: flex;               /* vertical por defecto (flex-direction: row) */
  flex-direction: column;  
  transition: transform 0.4s ease-in-out;
}
.project-card.selected {
    /* width:100% !important; */
    border-color: #007bff; /* Color del borde */
    background-color: #e7f3ff;
  }
  /* Estilo específico para mat-card-header */
.project-card.selected mat-card-header {
    background-color: #e7f3ff; /* Fondo azul más claro */
  }
  
  /* Estilo específico para mat-card-content */
  .project-card.selected mat-card-content {
    background-color: #e7f3ff; /* Fondo azul más claro */
  }

  section{
    width: 100%;
    height:100%;
  }
  p{
    margin: 0  auto;
  }
  mat-card-actions{
    margin-top: auto;
  }
  button {
    background: #007bff !important;
    color: white;
    min-width: calc(100% - 1rem) !important; /* Ocupa el 100% del ancho disponible menos el margen */;
    padding: 1rem;
    /* min-height:100% !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    box-sizing: border-box;
    border-radius: 4px;
    padding-top: 1.5rem;
    /* border:white solid 1px; */
  }
  
  button:hover {
    background: #0056b3;
  }


@media (max-width: 767px) {
  /* CONTAINER flex para botón + slider */


  .project-responsive {
    display: flex !important;
    align-items: flex-start;
    min-width: 100% !important;
    width: auto !important;
    overflow-x: auto;
    overflow-y: hidden;

    
    /* 3) Reserva espacio para la scrollbar en el propio slider */
    /* scrollbar-gutter: stable; */
  }

 
  .toggle-btn{
    min-width: 30px!important;
    width:30px!important;
    height: 100%!important;
    /* border: solid 2px yellow; */
  }
  /* El carrusel ocupa el resto del ancho */
  .projects-slider {
    flex: 1;
    display: flex;

    width: max-content !important;     /* aquí hace crecer el contenedor */
    overflow-x: auto !important;       /* activa scroll */
    flex-direction: row;
    transition: transform 0.4s ease-in-out;
    /* overflow: hidden; */
  }

  /* Ajustes de las cards */
  .project-card {
    max-width: 240px;
    height: 152px !important;
  }
}
