<section class="mat-app-background">
@for (project of projects; track $index) {
    <mat-card class="project-card" appearance="outlined"
    [class.selected]="selectedProjectIndex === $index"
    (click)="selectProject($index)">
        <mat-card-header class="project-card" >
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
          <p >
            Proyecto #{{project.Id}}
          </p>
        </mat-card-header>
        <mat-card-content class="project-card">
          <mat-progress-bar mode="determinate" value="{{percentajeCompleted(project.Sprints)}}" ></mat-progress-bar>
        </mat-card-content>
    </mat-card>
}
</section>