<section style="width:100%; height:100%; display:flex; flex-direction:column; background: lightgray;">
    <mat-card appearance="outlined" style="margin:5px; flex:1; border-radius: 7px;">
        <mat-card-content>
            <mat-card-title>Nombre: </mat-card-title>
            <mat-card-title>Fecha de inicio: </mat-card-title>
            <mat-card-title>Estado: </mat-card-title>
        </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" style="margin: 5px; flex:1; border-radius: 7px; display: flex; flex-direction: column; height: 100%;">
        <mat-card-content style="flex: 1;">
            <mat-card-title>Integración:</mat-card-title>
        </mat-card-content>
        <mat-card-actions style="margin-top: auto;">
            <button mat-raised-button style="background:#CBE8F0;">Objetivo</button>
            <button mat-raised-button style="background:#CBE8F0;">Objetivo</button>
            <button mat-raised-button style="background:#CBE8F0;">Objetivo</button>
        </mat-card-actions>
    </mat-card>    
</section>

  
  