/* Contenedor principal del carrusel */
.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 25px;
    background-color: transparent;
}

.custom-tooltip {
  white-space: pre-line !important;
}

  /* Botones de navegación */
.nav-button {
    background: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border:none;
    cursor: pointer;
}
  
  /* Contenedor del carrusel con scroll controlado */
.slider {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height:70px;
    padding-bottom:2px;
    padding-top:7px;
    width: 250px;
}
  
  /* Ítems del carrusel con tamaño fijo */
.slider-item {
  flex: 0 0 50px; /* Tamaño fijo para cada ítem */
  height: 50px;
  border-radius: 50%;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  border:none;
}
.slider-item:hover{
  cursor: pointer;
  z-index: 99999 !important;
}
  