<section class="slider-container">
    @if (users.length>5) {
        <button mat-icon-button [disabled]="this.startIndex==0" (click)="prevSlide()" class="nav-button">
        <mat-icon>chevron_left</mat-icon>
        </button>
    }  
    <div class="slider">
        @for (item of  visibleItems; track $index) {
            <button
                matTooltip="{{ item.tooltipInfo }}"
                matTooltipPosition="above"
                matTooltipClass="custom-tooltip"
                class="slider-item"
                [style.background-color]="item.color"
                [style]="{
                    'transform': getScale($index),
                    'background-color': item.color
                }"
                 [style.z-index]="getZIndex($index)"
            >
                {{ item.label }}
            </button>
        }
        <!-- {{startIndex+5}}
        {{users.length}} -->

    </div>
    @if (users.length>5 ) {
        <button mat-icon-button [disabled]="(this.startIndex + 5) >= this.users.length" (click)="nextSlide()" class="nav-button">
            <mat-icon>chevron_right</mat-icon>
        </button>
    }
    
</section>