<section class="slider-container">
    @if (users.length>5) {
        <button mat-icon-button [disabled]="this.startIndex==0" (click)="prevSlide()" class="nav-button">
        <mat-icon>chevron_left</mat-icon>
        </button>
    }  
    <div class="slider">
        @for (item of  visibleItems; track $index) {
            <button
                matTooltipPosition="above"
                [matTooltip]="item.tooltipInfo"
                matTooltipClass="custom-tooltip"
                class="slider-item"
                [style.transform]="getScale($index)"
                [style.z-index]="getZIndex($index)"
                [style.backgroundColor]="item.color">
                {{ item.label }}
                </button>
        }
        <!-- {{startIndex+5}}
        {{users.length}} -->

    </div>
    @if (users.length>5 ) {
        <button mat-icon-button [disabled]="(this.startIndex + 5) >= this.users.length" (click)="nextSlide()" class="nav-button">
            <mat-icon>chevron_right</mat-icon>
        </button>
    }
    
</section>