<app-navbar ></app-navbar>
<!-- <app-principal-board></app-principal-board> -->
<!-- <app-sprint-board></app-sprint-board> -->
<!-- <app-scrum-board ></app-scrum-board> -->

<!--
<mat-divider></mat-divider> 
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<div>
    <button mat-raised-button (click)="openGeneralConfiguration()">configuracion general</button>
</div>
<div>
    <button mat-raised-button (click)="openGeneralInformation()">informacion general</button>
</div>
<div>
    <button mat-raised-button (click)="openAddTask()">Agregar tarea</button>
</div>
<div>
    <button mat-raised-button (click)="openChangeDetails()">Detalles de cambios</button>
</div>
<div>
    <button mat-raised-button (click)="openGeneralConfigurationProductOwner()">Configuracion general product owner</button>
</div>
<div>
    <button mat-raised-button (click)="openAddSprint()">Agregar Sprint</button>
</div> -->
<!-- <app-general-configuration></app-general-configuration>
 <app-general-information></app-general-information>
<app-add-task></app-add-task>
 <app-changes-details></app-changes-details>
  <app-general-configuration-product-owner></app-general-configuration-product-owner>
   <app-add-sprint></app-add-sprint> -->
<!-- <app-test-component style="min-height:100vh;"></app-test-component> -->
 

<!-- <app-changes-details></app-changes-details>
<div>
    <button mat-raised-button (click)="openChangeDetails()">Detalles de cambios</button>
</div> -->

<!-- <app-add-task></app-add-task>
<div>
    <button mat-raised-button (click)="openAddTask()">Agregar tarea</button>
</div> -->

<!-- <app-general-information></app-general-information>
<div>
    <button mat-raised-button (click)="openGeneralInformation()">informacion general</button>
</div> -->

<!-- <app-general-configuration></app-general-configuration>
<div>
    <button mat-raised-button (click)="openGeneralConfiguration()">configuracion general</button>
</div> -->

<!-- <app-general-configuration-product-owner></app-general-configuration-product-owner>
<div>
    <button mat-raised-button (click)="openGeneralConfigurationProductOwner()">Configuracion general product owner</button>
</div> -->

<!-- <app-add-sprint></app-add-sprint>
<div>
    <button mat-raised-button (click)="openAddSprint()">Agregar Sprint</button>
</div> -->

<router-outlet />