<mat-grid-list cols="12" rowHeight="9.8vh">
    <mat-grid-tile
        [colspan]=4
        [rowspan]=9
        [style.background]="'var(--background-color-2)'"
        >
        <div class="container to-do-list">
            <mat-card-header id="header-to-do" >
                <mat-card-title>Listado de tareas por hacer</mat-card-title>
            </mat-card-header>
            <div
              cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="todo"
              [cdkDropListConnectedTo]="[doneList]"
              class="list to-do-content"
              (cdkDropListDropped)="drop($event)">
              @for (item of todo; track item) {
                    <div class="box" cdkDrag>
                        <div [ngClass]="getCircleClass(item.State)" >{{item.State}}</div>
                        <div>{{item.Name}}</div>
                    </div>                
              }
            </div>
            <button mat-raised-button (click)="openAddTask()" class="button-add">Agregar</button>
        </div>
    </mat-grid-tile>

    <mat-grid-tile
        [colspan]=8
        [rowspan]=5
        [style.background]="'var(--background-color-2)'"
        >
        <mat-card appearance="raised" class="principal-card" >
            <mat-card-header id="header-sprint" >
                <mat-card-title>Sprint #{{sprintNumber}}</mat-card-title>
            </mat-card-header>

            <mat-card-content class="container-sprint"  >
                <mat-card >
                    <mat-card-content
                    style="min-height:9rem !important; min-width:100%!important; "
                    
                    >
                    <!-- border: solid green 1px !important; -->
                            
                        <div class="container" 
                        style="min-height:9rem !important; min-width:100%!important; "
                        
                        >
                        <!-- border: solid red 1px !important; -->
                            <div
                            
                            class="box-sprint"

                                cdkDropList
                                #doneList="cdkDropList"
                                [cdkDropListData]="done"
                                [cdkDropListConnectedTo]="[todoList]"
                                (cdkDropListDropped)="drop($event)"
                                style="min-height:100px !important; min-width:100%!important; "
                                >
                                <!-- border: solid blue 1px !important; -->
                                @for (item of done; track $index) {
                                    <div (dblclick)="showDetails(item)"
                                        class="box-card"
                                        cdkDrag>
                                        {{item.Name}}
                                        <div class="drag-handle" cdkDragHandle>
                                            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                                              <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                                              <path d="M0 0h24v24H0z" fill="none"></path>
                                            </svg>
                                          </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions >
                        <button (click)="backSprint()"   mat-icon-button class="nav-button">
                            <mat-icon >chevron_left</mat-icon>
                        </button>
                        @if (userRol) {
                            <button mat-raised-button 
                                class="add-sprint-button" (click)="openAddSprint()">
                                Agregar
                            </button>
                        }
                        <button (click)="forwardSprint()"  mat-icon-button class="nav-button">
                            <mat-icon>chevron_right</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
                <mat-card appearance="raised">
                    <mat-card-header id="goal">
                        <mat-card-title>Meta</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content id="goal-info">
                      {{goal}}
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
        [style.background]="'var(--background-color-2)'"
        [colspan]=8
        [rowspan]=4>
        <mat-card appearance="raised" class="principal-card" id="card-task-details">
            <mat-card-header >
                <mat-card-title>Detalles de tarea</mat-card-title>
            </mat-card-header>
            <mat-card-content  >
                <div >
                    <div>Responsable: {{responsibleName}}</div>
                    <div > Estado:  
                        <div [ngClass]="getCircleClass(taskState)"
                        [class.circle]="description !== ''"></div>
                    </div>
                </div>
                <div id="description" >
                    <p>Descripción:</p>
                    <mat-divider></mat-divider>
                    {{description}}
                    <button mat-icon-button class="icon-button" (click)="openGeneralInformation()">
                      <mat-icon>message</mat-icon>
                    </button>
                  </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>