<div class="container-principal">
    <h2 mat-dialog-title>
        <button mat-button mat-dialog-close class="button-close">X</button>
        Agregar tarea</h2>
    <mat-dialog-content class="mat-typography">
        <mat-card appearance="outlined" >
            <mat-card-content>
                <p>Nombre:</p>
                <input [(ngModel)]="taskName"/>
                <p>Informacion:</p>
                <input [(ngModel)]="taskInformation"/>
                <p>Scrum Semanal:</p>
                <input [(ngModel)]="taskWeeklyScrum"/>
                <div class="container-states">
                    <P>Estado: </P>
                    <div class="states">
                        @for (state of states; track $index) {
                            <div
                                id="state-{{ state }}"
                                class="circle"
                                (click)="setState($index)"
                                [class.active]="currentState === state"
                            >
                            </div>
                        }
                    </div>           
                    <button mat-raised-button mat-dialog-close (click)="addTask()" class="confirm">Confirmar</button>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-dialog-content>
</div>