.container-principal{
    background: var(--background-color-2); 
    padding:0;
}
mat-card{
    background:transparent; 
    border: none;
}
mat-card-content{
    display:flex; 
    justify-content: center; 
    flex-direction: column; 
    /* gap:.7rem;  */
    align-items:center;
}
p{
    margin:0;
    color:black;
}
.each-state{
    cursor: pointer;
}
input{
    display:flex; 
    width:70%; 
    border-radius: 5px; 
    background:var(--primary-color); 
    border:none; 
    height:20px; 
    justify-content:space-between;
    margin-bottom: 1.5rem;
}
.container-states{
    display:flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 1.5rem; 
    align-items: center;
}
.states{
    display: flex; 
    flex-wrap: nowrap; 
    flex-direction: row; 
    gap:.5rem;
}

.circle.active {
    background-color: lightblue;
    font-weight: bold;
}
.button-responsable {
    display: flex;
    justify-content: space-between;
    width: 70% !important;
    background: var(--primary-color);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    /* color: white; */
    text-align: left;
    font-size: 14px;
    margin-bottom: 1.5rem;
  }
.mat-mdc-button>.mat-icon{
    font-size: 36px;
}

