<div class="container">
  <div class="avatar">
    <mat-icon id="icon">account_circle</mat-icon>
  </div>
    <mat-card class="login-card">
      <mat-form-field appearance="fill" >
        <mat-label >Usuario</mat-label>
        <mat-icon  matPrefix>account_circle</mat-icon>
        <input  matInput type="text" [(ngModel)]="username" >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label >Contraseña</mat-label>
        <mat-icon matPrefix>lock</mat-icon >
        <input matInput type="password" [(ngModel)]="password" >
      </mat-form-field>
      <button mat-raised-button color="primary" class="login-button" (click)="login()">Login</button>
    </mat-card>
    
    <mat-card class="register-card">
      <p><b>¿No eres miembro de un equipo?</b></p>
      <button mat-button color="primary" class="register-button" (click)="register()">
        <div style="display:flex; justify-items: end !important; justify-content: center; align-items: center; padding:0;">
          <p><b>Regístrate</b></p> 
          <mat-icon  class="custom-icon"
          >arrow_forward</mat-icon>
        </div>
      </button>
    </mat-card>
  </div>
  