<h2 mat-dialog-title >
    <button mat-button mat-dialog-close class="button-close">X</button>
    Configuracion general product owner</h2>
<mat-dialog-content class="mat-typography">
    <mat-card appearance="outlined" style="border: none;">
        <mat-card-content >
            <mat-grid-list cols="4" rowHeight="10vh">
                  <mat-grid-tile
                    [colspan]="2"
                    [rowspan]="4"
                    >
                    <div class="container-docker">
                        <button mat-raised-button class="button">Imagen de Docker</button>
                        <div>
                            <button mat-raised-button class="button">Crear equipo</button>
                            <button mat-raised-button (click)="fileInput.click()">
                                <img src="../../../assets/ms-excel.svg" alt="Excel" >
                            </button>
                            <input #fileInput type="file" style="display: none;" (change)="onFileSelected($event)" />
    
                        </div>
                        <textarea id="team-members-add"></textarea>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile
                    [colspan]="2"
                    [rowspan]="3"
                    >
                        <div class="input-container">
                            <!-- <p>Rol: <input [(ngModel)]="rol"/></p> -->
                            <p>Nombre: <input [(ngModel)]="name"/></p>
                            <p>Epecialización: <input [(ngModel)]="nameSpecialization"/></p>
                            <p>Cuenta: <input [(ngModel)]="account"/></p>
                            <p>Equipo: <input [(ngModel)]="teamCode"/></p>
                            <button mat-raised-button class="button" id="add-product-owner-configuration" (click)="addNewUser()">Agregar</button>
                        </div>
                </mat-grid-tile>
                <mat-grid-tile
                [colspan]="2"
                [rowspan]="1"
                    >
                        <div class="revision-container" >
                            <button mat-raised-button class="button" >Revision</button>
                            <div 
                                class="circle">
                            </div>
                        </div>
                </mat-grid-tile>
            </mat-grid-list>
            
            
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="center">
  
  <button mat-raised-button [mat-dialog-close]="true" class="confirm" cdkFocusInitial>Confirmar</button>
</mat-dialog-actions>

