<h2 mat-dialog-title>
    <button mat-button mat-dialog-close class="button-position">X</button>
    Agregar Sprint
</h2>
<mat-dialog-content >
    <div class="list-todo">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Lista de lo que hay que hacer</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div cdkDropList 
            #todoList="cdkDropList" 
            [cdkDropListData]="todo" 
            [cdkDropListConnectedTo]="[doneList]" 
            (cdkDropListDropped)="drop($event)"
            class="container-list-todo"
            >
            @for (item of todo; track item) {
                <mat-divider></mat-divider>
                  <div class="box" cdkDrag >
                      <div [ngClass]="getCircleClass(item.State)" > 
                        <!-- {{item.State}} -->     
                      </div>
                      <div>{{item.Name}}</div>
                  </div>                
            }
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="container-information">
        <h3>Nombre del Sprint:</h3>
        <input id="sprint-name" class="border" [(ngModel)]="name" >
        <h3>Asignación de tareas</h3>
        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]" (cdkDropListDropped)="drop($event)" 
        class="task-assign"
        >
            @for (item of done; track $index) {
                <div 
                class="box-card"
                    cdkDrag>
                    {{item.Name}}
                    <div class="drag-handle" cdkDragHandle>
                      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                      </svg>
                    </div>
                </div>
            }
        </div>
        <div class="container-goal-description">
            <h3 >Meta del Sprint</h3>
            <textarea class="border" [(ngModel)]="goal" 
                        ></textarea>
        </div>
        <div class="container-goal-description">
            <h3>Descripción del Sprint</h3>
            <textarea class="border" [(ngModel)]="description" 
                        ></textarea>    
        </div>
        <mat-form-field >
            <mat-label>Fecha de termino</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="actions">
            <button mat-raised-button color="warn" (click)="deleteFields()"  mat-dialog-close>Cancelar</button>
            <button mat-raised-button color="primary" (click)="addSprint()" class="confirm"  mat-dialog-close>Confirmar</button>
        </div>        
    </div>
  </mat-dialog-content>
  